<% provide(:title, "Editar") %>
<% provide(:title_header, "Editar dirección") %>
<div class="section">                                                           
  <div class="container" align="center">                                        
    <div class="columns is-centered">                                           
      <div class="column is-4">

        <%= render 'form', address: @address %>

      </div>
    </div>
  </div>
</div>